<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" 
"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="rubrica" class="it.alfasoft.bean.Rubrica" scope="prototype">

		<property name="rubrica">

			<list>
				<ref bean="voce1" />
				<ref bean="voce2" />
				<ref bean="voce3" />
			</list>

		</property>
	</bean>

	<bean id="voce1" class="it.alfasoft.bean.Voce">
		<property name="nome" value="Pippo"></property>
		<property name="telefono" value="11"></property>
	</bean>

	<bean id="voce2" class="it.alfasoft.bean.Voce">
		<property name="nome" value="Sam"></property>
		<property name="telefono" value="99999"></property>
	</bean>

	<bean id="voce3" class="it.alfasoft.bean.Voce">
		<property name="nome" value="Paul"></property>
		<property name="telefono" value="78912"></property>
	</bean>


</beans>